.word-cloud {
  -webkit-transform: translate(-15%, 0);
  -ms-transform: translate(-15%, 0);
  -o-transform: translate(-15%, 0);
  transform: translate(-15%, 0);
}
.word-cloud code {
  display: inline-block;
  position: absolute;
  text-align: center;
}

.word-cloud code:nth-child(1) {
  -webkit-transform: translate(0, 0) scale(1.1);
  -ms-transform: translate(0, 0) scale(1.1);
  -o-transform: translate(0, 0) scale(1.1);
  transform: translate(0, 0) scale(1.1);
}

.word-cloud code:nth-child(2) {
  -webkit-transform: translate(150%, 0) scale(1.2) rotate(8deg);
  -ms-transform: translate(150%, 0) scale(1.2) rotate(8deg);
  -o-transform: translate(150%, 0) scale(1.2) rotate(8deg);
  transform: translate(150%, 0) scale(1.2) rotate(8deg);
}

.word-cloud code:nth-child(3) {
  -webkit-transform: translate(150%, 150%) rotate(-5deg);
  -ms-transform: translate(150%, 150%) rotate(-5deg);
  -o-transform: translate(150%, 150%) rotate(-5deg);
  transform: translate(150%, 150%) rotate(-5deg);
}

.word-cloud code:nth-child(4) {
  -webkit-transform: translate(0, 150%) scale(1.2) rotate(4deg);
  -ms-transform: translate(0, 150%) scale(1.2) rotate(4deg);
  -o-transform: translate(0, 150%) scale(1.2) rotate(4deg);
  transform: translate(0, 150%) scale(1.2) rotate(4deg);
}

.word-cloud code:nth-child(5) {
  -webkit-transform: translate(-150%, 150%) rotate(13deg);
  -ms-transform: translate(-150%, 150%) rotate(13deg);
  -o-transform: translate(-150%, 150%) rotate(13deg);
  transform: translate(-150%, 150%) rotate(13deg);
}

.word-cloud code:nth-child(6) {
  -webkit-transform: translate(-100%, -50%) rotate(-8deg);
  -ms-transform: translate(-100%, -50%) rotate(-8deg);
  -o-transform: translate(-100%, -50%) rotate(-8deg);
  transform: translate(-100%, -50%) rotate(-8deg);
}

.word-cloud code:nth-child(7) {
  -webkit-transform: translate(-230%, -150%) rotate(-20deg);
  -ms-transform: translate(-230%, -150%) rotate(-20deg);
  -o-transform: translate(-230%, -150%) rotate(-20deg);
  transform: translate(-230%, -150%) rotate(-20deg);
}

.word-cloud code:nth-child(8) {
  -webkit-transform: translate(25%, -150%) rotate(12deg);
  -ms-transform: translate(25%, -150%) rotate(12deg);
  -o-transform: translate(25%, -150%) rotate(12deg);
  transform: translate(25%, -150%) rotate(12deg);
}

.word-cloud code:nth-child(9) {
  -webkit-transform: translate(100%, -150%) scale(0.8) rotate(-5deg);
  -ms-transform: translate(100%, -150%) scale(0.8) rotate(-5deg);
  -o-transform: translate(100%, -150%) scale(0.8) rotate(-5deg);
  transform: translate(100%, -150%) scale(0.8) rotate(-5deg);
}

.word-cloud code:nth-child(10) {
  -webkit-transform: translate(350%, 0) scale(1.3) rotate(0);
  -ms-transform: translate(350%, 0) scale(1.3) rotate(0);
  -o-transform: translate(350%, 0) scale(1.3) rotate(0);
  transform: translate(350%, 0) scale(1.3) rotate(0);
}

.word-cloud code:nth-child(11) {
  -webkit-transform: translate(300%, 370%) scale(1.3) rotate(20deg);
  -ms-transform: translate(300%, 370%) scale(1.3) rotate(20deg);
  -o-transform: translate(300%, 370%) scale(1.3) rotate(20deg);
  transform: translate(300%, 370%) scale(1.3) rotate(20deg);
}

.word-cloud code:nth-child(12) {
  -webkit-transform: translate(-35%, 300%) scale(1.4) rotate(-10deg);
  -ms-transform: translate(-35%, 300%) scale(1.4) rotate(-10deg);
  -o-transform: translate(-35%, 300%) scale(1.4) rotate(-10deg);
  transform: translate(-35%, 300%) scale(1.4) rotate(-10deg);
}

.word-cloud code:nth-child(13) {
  -webkit-transform: translate(-200%, 370%) rotate(-20deg);
  -ms-transform: translate(-200%, 370%) rotate(-20deg);
  -o-transform: translate(-200%, 370%) rotate(-20deg);
  transform: translate(-200%, 370%) rotate(-20deg);
}

.word-cloud code:nth-child(14) {
  -webkit-transform: translate(-150%, -400%) scale(1.4) rotate(20deg);
  -ms-transform: translate(-150%, -400%) scale(1.4) rotate(20deg);
  -o-transform: translate(-150%, -400%) scale(1.4) rotate(20deg);
  transform: translate(-150%, -400%) scale(1.4) rotate(20deg);
}

.word-cloud code:nth-child(15) {
  -webkit-transform: translate(0, -300%);
  -ms-transform: translate(0, -300%);
  -o-transform: translate(0, -300%);
  transform: translate(0, -300%);
}

.word-cloud code:nth-child(16) {
  -webkit-transform: translate(100%, 350%);
  -ms-transform: translate(100%, 350%);
  -o-transform: translate(100%, 350%);
  transform: translate(100%, 350%);
}

.word-cloud code:nth-child(17) {
  -webkit-transform: translate(120%, -420%);
  -ms-transform: translate(120%, -420%);
  -o-transform: translate(120%, -420%);
  transform: translate(120%, -420%);
}