<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Advanced JavaScript</title>

    <meta name="description" content="Advanced topics in JavaScript including functional programming, prototypal inheritance and speed optimizations">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/solarized-dark.css" id="theme">
    <link rel="stylesheet" href="css/js-lunch-and-learn.css">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section>
          <h1>Advanced JavaScript</h1>
          <p>
            <small>Created by <a href="http://twitter.com/ktbartholomew">@ktbartholomew</a></small>
          </p>
        </section>

        <section>
          <ul>
            <li>Functional Programming</li>
            <li>Prototypal Inheritance</li>
            <li>Dealing with HTML</li>
            <li>Speed</li>
          </ul>
        </section>
        <section>
            <section>
                <h2>Functional Programming</h2>
                <ul>
                    <li class="fragment">Functions can be variables</li>
                    <li class="fragment">Functions with other functions as variables</li>
                    <li class="fragment">Functions without side effects</li>
                    <li class="fragment">Recursive functions instead of loops</li>
                </ul>
            </section>
            <section>
                <div>
                    <h3>Procedural</h3>
                    <pre data-trim><code>
for(var i = 0; i < list.length; i++) {
  console.log('Item %s is: %s', i, list[i]);
}
                    </code></pre>
                    <br>    
                </div>
                <div class="fragment">
                    <h3>Functional</h3>
                    <pre><code class="javascript">
_.forEach(list, function (element, index, array) {
  console.log('Item %s is: %s', index, element);
});
                    </code></pre>
                </div>
            </section>
            <section>
                <h2>What’s so bad about the procedural way?</h2>
                <pre data-trim><code class="javascript">
var list = ['a','b','c'];

for(var i = 0; i < list.length; i++) {
    var thisItem = list[i];
    console.log('Item %s is: %s', i, thisItem);
}
                </code><code class="fragment javascript">// What is the value of i now?</code><code class="fragment javascript">console.log(i); // 3, although list[3] doesn't exist</code><code class="fragment javascript">// What about thisItem?</code><code class="fragment javascript">console.log(thisItem); // 'c'</code>
    </pre>
            </section>
            <section>
                <h2>What's so bad about the procedural way?</h2>
                <ul>
                    <li>Basic control structures have major side-effects</li>
                    <li>Utility/index variables share the same scope</li>
                    <li>Each operation modifies a shared data set</li>
                </ul>
            </section>
        </section>
        <section>
            <section>
                <img src="img/lamb-duh.jpg" alt="Lamb duh." style="width: 60%;">
                <h2>Functional Programming concepts</h2>
            </section>
            <section>
                <h3>Use higher-order functions (functions with functions as arguments)</h3>
                <p>Also called lambda functions (&lambda;)</p>
                <pre><code class="javascript">
var parts = [1,2,3];

_.forEach(parts, function(element, index, array) {
   // iterate over each element in the list 
});
                </code></pre>
            </section>
            <section>
                <h3>Functions should have no side effects; they only take arguments and return a value.</h3>
                <pre><code class="javascript">
var numbers = [1,0,2,0,3];

var removeZeroes = function (list) {
    _.forEach(list, function (element, index, array) {
        if(element === 0) {
            array.splice(index,1);
        }
    });

    return list;
};

numbers = removeZeroes(numbers);
                </code></pre>
            </section>
            <section>
                <h3>Use recursion, not loops.</h3>
                <pre><code class="javascript">
var sum,
    parts = [1,2,3];

var calculateSum = function (parts, subTotal) {
    subTotal = (typeof subTotal !== 'undefined') ? subTotal : 0;
    
    subTotal += parts.pop();

    return (parts.length !== 0) ?
        calculateSum(parts, subTotal) :
        subTotal;
};

sum = calculateSum(parts); // returns 6
                </code></pre>
            </section>
        </section>
        <section>
            <section>
                <img src="img/brady-bunch.jpg" alt="Brady Bunch" style="width: 60%;">
                <h2>Functional Programming Tools: lodash</h2>
            </section>
            <section>
                <h3><code>_.forEach</code></h3>
                <pre><code class="javascript">
var kids = [
    {name: 'Greg', gender: 'male', age: 18},
    {name: 'Marcia', gender: 'female', age: 17},
    {name: 'Peter', gender: 'male', age: 15},
    {name: 'Jan', gender: 'female', age: 14}
];

_.forEach(kids, function (element, index, array) {
    array[index].age += 1;
});
                </code></pre>
            </section>
            <section>
                <h3><code>_.find</code></h3>
                <pre><code class="javascript">
var kids = [
    {name: 'Greg', gender: 'male', age: 18},
    {name: 'Marcia', gender: 'female', age: 17},
    {name: 'Peter', gender: 'male', age: 15},
    {name: 'Jan', gender: 'female', age: 14}
];

var marcia = _.find(kids, function (element, index, array) {
    return element.name === 'Marcia';
});

// {name: "Marcia", gender: "female"}
                </code></pre>
            </section>
            <section>
                <h3><code>_.filter</code></h3>
                <pre><code class="javascript">
var kids = [
    {name: 'Greg', gender: 'male', age: 18},
    {name: 'Marcia', gender: 'female', age: 17},
    {name: 'Peter', gender: 'male', age: 15},
    {name: 'Jan', gender: 'female', age: 14}
];

var boys = _.filter(kids, function (element, index, array) {
    return element.gender === 'male';
});

// [{name: 'Greg', gender: 'male'}, {name: 'Peter', gender: 'male'}]
                </code></pre>
            </section>
            <section>
                <h3><code>_.map</code></h3>
                <pre><code class="javascript">
var kids = [
    {name: 'Greg', gender: 'male', age: 18},
    {name: 'Marcia', gender: 'female', age: 17},
    {name: 'Peter', gender: 'male', age: 15},
    {name: 'Jan', gender: 'female', age: 14}
];

var names = _.map(kids, function (element, index, array) {
    return element.name;
});

// ["Greg", "Marcia", "Peter", "Jan"]
                </code></pre>
            </section>
            <section>
                <h3><code>_.reduce</code></h3>
                <pre><code class="javascript">
var kids = [
    {name: 'Greg', gender: 'male', age: 18},
    {name: 'Marcia', gender: 'female', age: 17},
    {name: 'Peter', gender: 'male', age: 15},
    {name: 'Jan', gender: 'female', age: 14}
];

var youngest = _.reduce(kids, function (result, n, key) {
    return (n.age < result.age) ? n : result;
});

// {name: 'Jan', gender: 'female', age: 14}

                </code></pre>
            </section>
            <section>
                <div class="word-cloud">
                    <code>_.reduce()</code>
                    <code>_.chunk()</code>
                    <code>_.sortBy()</code>
                    <code>_.findWhere()</code>
                    <code>_.filter()</code>
                    <code>_.throttle()</code>
                    <code>_.delay()</code>
                    <code>_.isArray()</code>
                    <code>_.isUndefined()</code>
                    <code>_.max()</code>
                    <code>_.min()</code>
                    <code>_.sum()</code>
                    <code>_.random()</code>
                    <code>_.camelCase()</code>
                    <code>_.kebabCase()</code>
                    <code>_.words()</code>
                    <code>_.attempt()</code>
                </div>
            </section>
            <section>
                <a href="http://lodash.com">http://lodash.com</a>
            </section>
        </section>
        <section>
            <section>
                <img src="img/yoda.jpg" alt="Yoda says there is no class">
                <h2>There is no class.</h2>
            </section>
            <section>
                <h2>Prototypal Inheritance</h2>
                <p>JavaScript uses prototypes (as opposed to classes) to create and extend objects</p>
            </section>
            <section>
                <h2>No, really</h2>
                <p>Even if you think you’re using classes, you’re actually using prototypes.</p>
            </section>
            <section>
                <h2>New objects can extend any existing object</h2>
                <p>So, everything is a “class”.</p>
            </section>
            <section>
                <h2>Anything can be a prototype</h2>
                <pre><code class="javascript">
var Rectangle = {
    width: 0,
    height: 0
};

var myRect = Object.create(Rectangle);
</code></pre>
            </section>
            <section>
                <h2>Anything can be a prototype</h2>
                <pre><code class="javascript">
var List = [];

var myList = Object.create(List);
myList.push('foo');
                </code></pre>
            </section>
            <section>
                <h2>Anything can be a prototype</h2>
                <pre><code class="javascript">
var Func = function (argument) {
    this.foo = argument;
}

var myFunc = Object.create(myFunc);
Func.call(myFunc, 'bar');
                </code></pre>
            </section>
            <section>
                <h2>Prototypes can change <br>on-the-fly</h2>
            </section>
            <section>
                <pre><code class="javascript">
var Rectangle = {
    width: 4, 
    height: 3
};

var myRect = Object.create(Rectangle);

myRect.height = 4;
// myRect: {width: 4 (inherited), height: 4}

Rectangle.width = 6;
// myRect: {width: 6 (inherited), height: 4}
                </code></pre>
            </section>
            <section>
                <h2>Stop using <code>new</code></h2>
                <pre><code class="javascript">
// This disguises SuperClass as a class
var n = new SuperClass('foo');

// This makes it clear that we're creating new things from a prototype
var p = Object.create(SuperPrototype);
SuperPrototype.call(p, 'foo');
                </code></pre>
            </section>
        </section>
        <section>
            <section>
                <h2>Dealing with HTML</h2>
                <p><code>'&lt;p&gt;' + stopDoingThis + '&lt;/p&gt;'</code></p>    
            </section>
            <section data-background-iframe="http://garann.github.io/template-chooser/"></section>
            <section>
                <h2>JS Templating Engines</h2>
                <ul>
                    <li><strong>Lodash Templates:</strong> Quick n' Dirty</li>
                    <li><strong>Nunjucks:</strong> Like Twig in your browser</li>
                </ul>
            </section>
            <section>
              <h2>JS Templating process</h2>
              <ol>
                <li><span style="text-decoration: underline;">Compile</span>. Take text with template tags and turn it into a function. Input is a string, Output is a function.</li>
                <li class="fragment"><span style="text-decoration: underline;">Render</span>. Call the compiled template function, with template data as a function argument. Input is an object, Output is a string.</li>
              </ol>
            </section>
            <section>
                <h2>Lodash Templates</h2>
                <pre><code class="erb">
&lt;script type="text/template" id="news-article-partial"&gt; 
  &lt;% var extraClasses = article.classes.join(' '); %&gt;
  &lt;article class="news-article &lt;%= extraClasses %&gt;"&gt;
      &lt;header&gt;
          &lt;h2 class="news-article-title"&gt;
              &lt;%= article.title %&gt;
          &lt;/h2&gt;
      &lt;/header&gt;
      &lt;div class="news-article-body"&gt;
          &lt;%= article.body %&gt;
      &lt;/div&gt;
  &lt;/article&gt;
&lt;/script&gt;
                </code></pre>
                <aside class="notes">
This is a simple template that you might add directly to the HTML of your page. We've given it an id attribute so it's easy to find later. The plain parenthesis tags can do anything Javascript can do, and the parenthesis with equals signs outputs a variable.
                </aside>
            </section>
            <section>
                <h2>Lodash Templates</h2>
                <pre><code class="erb">
&lt;script type="text/template" id="news-article-partial"&gt; 
  <% for(var i = 0; i < articles.length; i++) { %>
  <% var article = articles[i]; %>

  <article class="news-article">
    <% if ( article.featured ) { %>
      <span class="text-emphasis">Featured Article</span>
    <% } else { %>
      <span>Regular Article</span>
    <% } %>
  </article>
  <% } %>
&lt;/script&gt;
                </code></pre>
                <aside class="notes">
Because these templates are just JavaScript and use JavaScript syntax, they can get difficult to read very quickly. A for loop and a simple if/else quickly add dangling curly braces that make the template very difficult to read.
                </aside>
            </section>
            <section>
              <h2>Lodash Templates</h2>
              <pre><code class="javascript">
// 1. Find the HTML tag with our template contents
var articleTemplate = document.getElementById('news-article-partial');

// 2. Compile the template text into a function
var templateFunction = _.template(articleTemplate.innerHTML);

// 3. Render the template, passing it an object with our data.
var templateOuput = templateFunction({article: article});

// 4. Add the rendered output to the page
document.body.appendChild(templateOutput);
              </code></pre>
            </section>
            <section>
              <h2>Nunjucks Templates</h2>
              <pre><code class="twig">
&lt;script type="text/template" id="news-article-partial"&gt; 
  {% set extraClasses = article.classes|join(' ') %}
  <article class="news-article {{ extraClasses }}">
    <header>
      <h2 class="news-article-title">
        {{ article.title }}
      </h2>
    </header>
    <div class="news-article-body">
      {{ article.body }}
    </div>
  </article>
&lt;/script&gt;
              </code></pre>
            </section>
            <section>
              <h2>Nunjucks Templates</h2>
              <pre><code class="twig">
&lt;script type="text/template" id="news-article-partial"&gt; 
  {% for article in articles %}
  <article class="news-article">
    {% if article.featured %}
      <span class="text-emphasis">Featured Article</span>
    {% else %}
      <span>Regular Article</span>
    {% endif %}
  </article>
  {% endfor %}
&lt;/script&gt;
              </code></pre>
            </section>
            <section>
              <h2>Nunjucks Templates</h2>
              <pre><code class="javascript">
// 1. Find the HTML tag with our template contents
var templateString = document.getElementById('news-article-partial');

// 2. Compile the template text into a function
var template = nunjucks.compile(articleTemplate.innerHTML);

// 3. Render the template, passing it an object with our data.
var templateOuput = template.render({article: article})

// 4. Add the rendered output to the page
document.body.appendChild(templateOutput);
              </code></pre>
            </section>
            <section>
              <h2>Templating Best Practice</h2>
              <p>Compiling is expensive: pre-compile templates for use in production.</p>
              <aside class="notes">
Several templating engines provide a way to precompile your templates at build-time, using a Grunt task or something similar. This has an immediate performance benefit, because compiling the templates at runtime can be computationally expensive. In the case of Nunjucks, it also allows you to serve a much smaller library in production that only handles rendering templates. The "slim" version of Nunjucks is almost 70% smaller than the full library!
              </aside>
            </section>
        </section>
        <section>
          <section>
            <h2>Speed</h2>
          </section>
          <section>
            <h2>Leave the DOM Alone</h2>
            <ul>
              <li>Don't modify the DOM in loops</li>
              <li class="fragment">Don't modify the DOM in the middle of logic</li>
              <li class="fragment">DO use requestAnimationFrame to defer DOM changes</li>
              <li class="fragment">DO learn to love <code>DocumentFragment</code></li>
            </ul>
          </section>
          <section>
            <h2>Optimize jQuery Selectors</h2>
            <ul>
              <li>Don't end selectors with <code>*</code></li>
              <li class="fragment">Don't be more specific than necessary</li>
              <li class="fragment">DO cache selectors</li>
              <li class="fragment">DO use <code>$('#some-id').find('.with-class')</code></li>
              <li class="fragment">DO limit nested selectors</li>
            </ul>
          </section>
          <section>
            <h2>Variables</h2>
            <ul>
              <li>Don't depend on global variables, or even variables in parent scopes</li>
              <li class="fragment">Don't over-nest objects and arrays</li>
              <li class="fragment">Don't change variable types on-the-fly</li>
              <li class="fragment">Don't mix types in arrays</li>
            </ul>
          </section>
          <section>
            <h2>LocalStorage vs. Cookies</h2>
            <ul>
              <li>Cookies are sent to the server with every single request, whether they get used or not.</li>
              <li>LocalStorage consumes ZERO network traffic, but can only be accessed by JavaScript.</li>
            </ul>
          </section>
          <section data-background-iframe="http://youmightnotneedjquery.com/">
            <h3 style="background: rgba(0,0,0,0.8); color: white; padding: 0.2em;">http://youmightnotneedjquery.com/</h3>
          </section>
          <section>
            <h2>You Might Not Need jQuery</h2>
            <pre><code class="javascript">
// Instead of $('#section-1').find('img')
var section = document.querySelector('#section-1');
var images = section.querySelectorAll('img');
            </code></pre>
          </section>
          <section>
            <h2>You Might Not Need jQuery</h2>
            <pre><code class="javascript">
var section = document.querySelector('#section-1');

// Instead of $('#section-1').hasClass('active');            
section.classList.contains('active');

// Instead of $('#section-1').addClass('active');
section.classList.add('active');

// Instead of $('#section-1').removeClass('active');
section.classList.remove('active');
            </code></pre>
          </section>
          <section>
            <h2>You Might Not Need jQuery</h2>
            <pre><code class="javascript">
// Instead of $('#section-1').attr('data-section-id');
var section = document.querySelector('#section-1');
var sectionId = section.getAttribute('data-section-id');
            </code></pre>
          </section>
          <section>
            <h2>You Might Not Need jQuery</h2>
            <pre><code class="javascript">
// Instead of $('#section-1').on('click', function (e) { ... })
var section = document.querySelector('#section-1');
section.addEventListener('click', function (e) { ... });
            </code></pre>
          </section>
        </section>
        <section>
          <h2>Thank You</h2>
          <div style="text-align: left;">
            <a href="https://lodash.com/">Lodash</a> <br>
          <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Inheritance_and_the_prototype_chain">Inheritance and the Prototype Chain</a> <br>
          <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a> <br>
          <a href="https://learn.jquery.com/performance/optimize-selectors/">Optimize jQuery Selectors</a> <br>
          <a href="http://youmightnotneedjquery.com/">You Might Not Need jQuery</a>  
          </div>
          
        </section>
      </div>
    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
    <script type="text/javascript" src="js/nunjucks.min.js"></script>
    <script>

      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true },
          { src: 'plugin/notes/notes.js', async: true },
        ]
      });

      Reveal.addEventListener('slidechanged', function (event) {
        console.log(event);
      });

    </script>

  </body>
</html>
