/**
 * Solarized Light theme for reveal.js.
 * Author: Achim Staebler
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
@import url(../../lib/font/source-code-pro/source-code-pro.css);


/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Solarized colors
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// Override theme settings (see ../template/settings.scss)
$mainFont: 'Source Code Pro', monospace;
$mainColor: $base3;

$headingFont: 'Source Sans Pro', Arial, sans-serif;
$headingColor: $base1;
// $headingLetterSpacing: -0.04em;
$headingLineHeight: 1.1;
$headingTextShadow: none;
$headingTextTransform: none;

$backgroundColor: $base03;
$linkColor: $blue;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $base0;

// Background generator
// @mixin bodyBackground() {
// 	@include radial-gradient( rgba($base3,1), rgba(lighten($base3, 20%),1) );
// }

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------


// Override theme styles

.reveal pre {
  font-family: $mainFont;
  box-shadow: none;
}

.reveal code {
  font-family: $mainFont;
}
